.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.globalnavigation {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
}

/* ----- Kort formattering ----- */

.kortraekke {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  }

  .kort {
    position: relative;
    width: 240px;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }

    
.adminkort { cursor: pointer;
}
.kort img { max-width: 100%;
}

.kort .tekst {
  text-align: center; padding: 0 10px 50px;
  }

  /* ---- Teskt typpe og at den skal være 65 høj ---- */
  .kort .tekst p:nth-of-type(1) { 
    min-height: 65px;
  }

  .kort h3 {
  text-align: center; 
  margin-bottom: 5px;
  }

  .laesmereknap { position: absolute; 
  background: #805719; 
  border-radius: 5px; 
  color: white;
  padding: 10px;
  width: 42%;
  bottom: 10px;
  left: 10px;
  border: none;
  }

  .bestilknap {
  position: absolute; 
  background: #40505f; 
  border-radius: 5px;
  color: white; 
  padding: 10px; width: 42%; 
  bottom: 10px; right: 10px; 
  border: none;
}